* annex.backend=MD5E
**/.git* annex.largefiles=nothing
*.annot annex.largefiles=nothing
*.bib annex.largefiles=nothing
*.bval annex.largefiles=nothing
*.bvec annex.largefiles=nothing
*.cmd annex.largefiles=nothing
*.csv annex.largefiles=nothing
*.dat annex.largefiles=nothing
*.done annex.largefiles=nothing
*.html annex.largefiles=nothing
*.json annex.largefiles=nothing
*.label annex.largefiles=nothing
*.local-copy  annex.largefiles=nothing
*.log.bak annex.largefiles=nothing
*.log annex.largefiles=nothing
*.lta annex.largefiles=nothing
*.md annex.largefiles=nothing
*.stats annex.largefiles=nothing
*.tex annex.largefiles=nothing
*.toml annex.largefiles=nothing
*.touch annex.largefiles=nothing
*.tsv annex.largefiles=nothing
*.txt annex.largefiles=nothing
*.yaml annex.largefiles=nothing
*.yml annex.largefiles=nothing
.bidsignore annex.largefiles=nothing
CHANGES annex.largefiles=nothing
LICENSE annex.largefiles=nothing
README* annex.largefiles=nothing
code/** annex.largefiles=nothing
dataset_description.json annex.largefiles=nothing
logs/** annex.largefiles=nothing
*.env annex.largefiles=anything
*.env.bak annex.largefiles=anything
*.gii annex.largefiles=anything
*.h5 annex.largefiles=anything
*.parquet annex.largefiles=anything
*.svg annex.largefiles=anything
*.x5 annex.largefiles=anything
